{% extends "core/base.html" %}

{% block title %}Contacto{% endblock %}

{% block content %}
<section class="page-section" style="max-width: 900px; margin: auto;">

    <h2>Contacto</h2>

    <p>
        <strong>Teléfono:</strong><br>
        📞 +52 55 1234 5678
    </p>

    <p>
        <strong>Dirección:</strong><br>
        📍 Cuauhtémoc 117, Colonia Del Carmen, Delegación Coyoacán, Ciudad de México
    </p>

    <div style="margin-top: 2rem;">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7528.813031537695!2d-99.16599869728086!3d19.35154295391109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ffc49a412c49%3A0x577057d773ed4afc!2sIglesia%20Presbiteriana%20Reformada%20Getseman%C3%AD!5e0!3m2!1ses-419!2smx!4v1769192914164!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            width="100%"
            height="350"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>

</section>
{% endblock %}